<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div><br>

      <div class="field"> 
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div><br>

      <div class="field"> 
        <label class="btn btn-primary">
          Upload main image <%= f.file_field :main_image, style: 'display:none;' %>
        </label>
      </div>       

      <div class="field"> 
        <label class="btn btn-primary">
          Upload thumb image <%= f.file_field :thumb_image, style: 'display:none;' %>
        </label>
      </div>  
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: 10 %>
      </div>
    </div>

    <hr>
    <div class="col-md-12">
      <h4>Technologies Used</h4>

      <div>
        <%= f.fields_for :technologies do |tf| %>
          <%= render 'technology_fields', f: tf %>
        <% end %>

        <div>
          <%= link_to_add_association 'Add Technology', f, :technologies %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Save Project', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>