<h1>Projects</h1>

<%= link_to "Add Project", new_project_path %>

<% @projects.each do |pr| %>
	<p><%= pr.title %></p>
	<p><%= pr.subtitle %></p>
	<p><%= pr.body %></p>
	<p><%= image_tag pr.thumb_image unless pr.thumb_image.nil? %></p>
	<%= link_to "Edit", edit_project_path(pr.id) %>
<% end %>